<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceVelib" allowCookies="true"
                    maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WS_Soap_Velib/Service/Client"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceVelib"
                contract="WS_Soap_Velib_Reference.IServiceVelib" name="BasicHttpBinding_IServiceVelib" />
        </client>
    </system.serviceModel>
</configuration>