<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basic0" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="ws0" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/MathsLibrary/Service1/"
                binding="basicHttpBinding" bindingConfiguration="basic0" contract="MathsService.IMathsOperations"
                name="basic0" />
            <endpoint address="http://localhost:8733/MathsLibrary/Service1/basic1/"
                binding="basicHttpBinding" bindingConfiguration="basic0" contract="MathsService.IMathsOperations"
                name="basic1" />
            <endpoint address="http://localhost:8734/MathsLibrary/Service1/ws0/"
                binding="wsHttpBinding" bindingConfiguration="ws0" contract="MathsService.IMathsOperations"
                name="ws0">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>